
body {
  background-color: #ffffff;
  text-align: center;
}

h1 {
  font-family: 'Georgia, serif';
  color: #0649f3;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

/*The CSS rule below will be applied to the HTML element with id="doge-image"*/
#doge-image img {
  height: 140px;
  margin-top: 20px;
}
