<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Temperature via API</h1>
  </div>

  <input class="search" type="text" placeholder="Enter City Name">
  <button type="button" onClick="searchWeather()">Search</button>



<div class="city">

</div>

<div class="temp">

</div>

<div class="error-message">

</div>
<a class="nav-link " href="/">Back</a>


</body>

</html>