
<html lang="en">
<head>
    <% include ../helpers/head %>
    <title>Firebase Database</title>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Firebase Database</h1>
  </div>

  <a class="nav-link " href="/">Back</a>
<button onclick="handleSignIn()">Login</button>
<form onsubmit="handleMessageFormSubmit()" action="#">
    Title:<br>
    <input id="post-title"><br>
    Body:<br>
    <textarea id="post-body"></textarea><br>
    <button>Submit</button>
</form>

<div id="post-listing"></div>
</body>

</html>