<html lang="en">
<head>
    <% include ../helpers/head %>
    <title>IoT CoE</title>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  
  <img class="logo" src="/images/tcts.png" alt="My_Logo" align="right" height="100" width="300">
  <div class="page-header">
  
    <% include ../helpers/navbar %>
   

    <h1>Welcome to IoT Lab</h1>
  </div>

  <p id="demo">
    This is a one stop shop for IoT Solutions
  </p>

  


</body>

</html>